<div class="container-fluid">
  <div
    class="calculadora vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="text-center bg-secondary rounded pad-20">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-danger" (click)="limpar()">C</button>
        </div>
        <div class="col-9">
          <input
            type="text"
            class="form-control text-end input-text margin-0"
            [value]="display"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-light" id="btn7" (click)="adicionarNumero('7')">7</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light" id="btn8" (click)="adicionarNumero('8')">8</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light" id="btn9" (click)="adicionarNumero('9')">9</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" id="btnDivisao" (click)="definirOperacao('/')">
            /
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-light" id="btn4" (click)="adicionarNumero('4')">4</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light" id="btn5" (click)="adicionarNumero('5')">5</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light" id="btn6" (click)="adicionarNumero('6')">6</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" id="btnMIltiplicacao" (click)="definirOperacao('*')">
            *
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-light" id="btn1" (click)="adicionarNumero('1')">1</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light" id="btn2" (click)="adicionarNumero('2')">2</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light" id="btn3" (click)="adicionarNumero('3')">3</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" id="btnSubtracao" (click)="definirOperacao('-')">
            -
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-light" id="btn0" (click)="adicionarNumero('0')">0</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light" id="btnDecimal" (click)="adicionarNumero('.')">.</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-success" id="btnCalcular" (click)="calcular()">
            =
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" id="btnSoma" (click)="definirOperacao('+')">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
